div.Error{
    padding: 15em 8.75em  8.75em ;
    
}
div.RoadMapError{
    display: flex;
    gap:0.75em;
    font-size:1em ;
}
div.RoadMapError a{
    text-decoration: none;
    color: #000;
}
.home{
    opacity: 0.5;
}
div.ContentError{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:2.5em;
}
div.ContentError b{
    font-size: 6.875em;
}
div.ContentError p{
    font-size: 1em;
}
div.ContentError button{
    display: flex;
    gap:0.0625;
    background-color: #F95C5C;
    padding: 1em 3em;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border: none;
}
div.ContentError button a{
    text-decoration: none;
    color: white;
}