div.Contact{
    padding: 0 8.75em 8.75em 8.75em ;
    padding-top: 16em;
    display: flex;
    justify-content: space-evenly;
    gap:4.375em;
    flex-direction: column;
    flex-wrap: wrap;
}
/* Thanh road map  */
div.GroupRoadmap{
    display: flex;
    gap:0.75em;
    font-size:1em ;
}
div.GroupRoadmap a{
    text-decoration: none;
    color: #000;
    
}
.home{
    opacity: 0.5;
}
div.Content{
    display: flex;
    justify-content: space-evenly;
    gap:1.25em ;
}
/* Thông tin liên hệ của của hàng */
div.GroupCallWrite{
    padding: 2.5em 2.1875em;
    border-radius: 0.25em;
    display: flex;
    flex-direction: column;
    gap: 2em;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.GroupCall{
    display: flex;
    flex-direction: column;
    gap:1.5em;
}
div.IconCall{
    display: flex;
    gap: 1em;
    align-items: center;
    font-size: 1em;
    font-weight: 550;
}
div.TextCall{
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size:0.875em ;
}
div.GroupWrite{
    display: flex;
    flex-direction: column;
    gap:1.5em ;
}
div.IconWrite{
    display: flex;
    gap: 1em;
    align-items: center;
    font-size: 1em;
    font-weight: 550;
}
div.TextWrite{
    display: flex;
    flex-direction: column;
    gap: 1em;
    font-size:0.875em ;
}
/* Form phản hồi */
div.GroupSend{
    display: flex;
    flex-direction: column;
    gap:0.625em ;
    padding: 2.5em 1.9375em ;
    border-radius: 0.25em;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
div.GroupSend a{
    text-decoration: none;
    color:white;
}
form{
    display: flex;
    gap: 2em;
    flex-direction: column;

}
/* Thông tin khách hàng */
div.GroupInfo{
    display: flex;
    flex-direction: row;
    gap:0.625em ;
    font-size: 1em;
}
span{color: #DB4444;}
input{
    background-color: #f5f5f5;
    border: none;
    padding: 1em 0.8125em;
}
div.text
div.email
div.phone{
    display: flex;
    gap: 0.5em; 
}
textarea{
    background-color: #f5f5f5;
    border: none;
    padding: 1em 0.8125em;
    resize: none;
}
div.button button{
    background-color: #F95C5C;
    border: none;
    color: white;
    padding: 1em 3em ;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}
div.button{
    display: flex;
    justify-content: flex-end;
    
}