div.MyAccount{
    padding: 15em 8.75em 8.75em 8.75em ;
    display: flex;
    flex-direction: column;
    gap: 8.125em;
}
/* thanh roadmap */
div.GroupRoadmapMyAccount{
    font-size:0.875em ;
    display: flex;
    justify-content:space-between;
}
div.Roadmap{
    display: flex;
    gap: 0.75em;
    font-size: 1em;
}
div.Roadmap a{
    text-decoration: none;
    color: #000;
}
.home{
    opacity: 0.5;
}
div.TextRoadMap{
    display: flex;
    gap: 0.75em;
}
.red{
    color: #DB4444;
}
div.Content{
    display: flex;
    justify-content: space-around;
}
div.ContentLeft{
    display: flex;
    flex-direction: column;
    gap:1.25em;
    font-size: 1em;
}
div.ContentLeft a{
    text-decoration: none;
    color: black;
    opacity: 0.5;
}
div.ContentLeft a.redp{
    color: #DB4444;
    opacity: 1;
}
div.GroupManage{
    display: flex;
    flex-direction: column;
    gap:1.25em;
}
div.GroupManage1{
    padding-left: 2.5em;
    display: flex;
    flex-direction: column;
    gap:0.5em;
}
div.GroupMyOrders{
    display: flex;
    flex-direction: column;
    gap:1.25em;
}
div.GroupMyOrders a{
    text-decoration: none;
    color: black;
    opacity: 0.5;
}
div.GroupOrder{
    padding-left: 2.5em;
    display: flex;
    flex-direction: column;
    gap:0.5em;
}
/* form của My account */
div.ContentRight form{
    display: flex;
    flex-direction: column;
    gap:1.875em;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 2.5em 5em;
    padding-bottom: 5em;
    font-size: 1em;
    border-radius: 0.25em;
}
label[for="edit"]{
    font-size: 1.25em;
    color: #DB4444;
}
div.Name{
    display: flex;
    gap:3.125em ;
}
div.Firstname input{ 
    padding:1.25em ;
}
div.Lastname input{
    padding:1.25em ;
}
input{
    border-radius: 0.25em;
    border: none;
    background-color:#F5F5F5 ;
    opacity: 0.5;
}
div.EmailAddress{
    display: flex;
    gap:3.125em ;
}
div.Email input{
    padding:1.25em ;    
}
div.Address input{
    padding: 1.25em;
}
div.Save{
    display: flex;
    justify-content: flex-end;
}
button[type="submit"]{
    background-color: #DB4444;
    border: none;
    color: white;
    padding: 1em 2em;
    box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 0.25em;
    cursor: pointer;
}
button[type="button"]{
    border: none;
    background-color:white;
    padding: 1em 2em;
    cursor: pointer;
    color: black;
}
div.Password{
    display: flex;
    flex-direction: column;
    
}
div.Password input{
    padding: 1.25em;
}