@media only screen and (max-width: 1024px) and (min-width: 431px) {
  /* index.html */

  /* About.html */

  /* Cart.html */

  /* SingUp.html */
  div.MainLogin{
    display:none;
  }
  div.MainLogin{
    display: block;
  }
  div.GroupHeader{
    display:none;
  }
  div.GroupHeader{
    display: block;
    position: fixed;
    top: 0;
    background-color: white;
  }
  
  /* LogIn.html */

  /* MyAccount.html */

  /* Contact.html */
  
  /* Checkout.html */

}




@media only screen and (max-width:430px) {

  

}